<div class="container mx-auto flex flex-col gap-20 py-5 px-10">
  <div class="flex text-7xl text-appPrimary font-bold justify-end">
    <i class="bi bi-patch-exclamation-fill"></i>
  </div>
  <div class="flex justify-center text-9xl text-appPrimary font-bold">
    404
  </div>
  <div class="text-center text-appAccent text-4xl font-bold">
    <p>We can't find the page you are looking for.</p>
  </div>
  <div class="flex justify-center">
    <button class="btn btn-accent text-white" data-cy="menu-btn">
      <a routerLink="/">
        <i class="bi bi-arrow-left-circle-fill pe-2"></i>
        RETURN TO HOME
      </a>
    </button>
  </div>
</div>
